@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-fluid main-jumbotron">
</div>
<div class="container container-fluid">
    <div class="row bg-light">
        
            <div class="col-md-6">
                <h2 class="text-center text-justify">
                    Connect with our professional services with the same user experience on all devices
                </h2>
            </div>
            <div class="col-md-6">
                <img src="~/Content/img/card-1.svg" class="img-fluid w-100 card-image" />
            </div>
    </div>
    <div class="row">

            <div class="col-md-6">
                <img src="~/Content/img/card-2.svg" class="card-image img-fluid w-100" />
            </div>
            <div class="col-md-6">
                <h2 class="text-center text-justify">
                    Get direction to any of our offices located around you worldwide!
                    </h2>
</div>
    </div>
    <div class="row bg-light">
            <div class="col-md-6">
                <h2 class="text-center text-justify">
                    Get a free quotation and pricing on any project immedately with our apps.
                    </h2>
</div>
            <div class="col-md-6">
                <img src="~/Content/img/card-3.svg" class="card-image img-fluid w-100"/>
            </div>
        </div>
  
</div>
